@font-face {
    font-family: "SF Pro Display";
    src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot");
    src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff") format("woff"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display") format("svg");
}

.cart{
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    font-family: 'SF Pro Display';
    padding: 0 2rem;

    &__header{
       margin: 2rem 0 0 0;
       padding: 0 0 1rem 0;
       border-bottom: 1px solid $primary;
    }

    &__body{
        flex: 1;
        margin: 1rem 0;
        display: block;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }
        
        &::-webkit-scrollbar:hover {
            opacity: 1;
        }
        
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #808080ad;
            border-radius: 20px;
            border: none;
        }
        
        &-item{
            position: relative;
            display: flex;
            border-radius: 0.5rem;
            background-color: #fff;
            box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 0.2);
            margin: 1rem;
            // overflow: hidden;
            min-height: 8rem;
            max-height: 10rem;

            &-img {
                flex: 0 0 40%;
                margin: .5rem;
                border-radius: .5rem;
                overflow: hidden;
                img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-desc{
                margin: 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1;

                &-title{
                    text-transform: uppercase;
                }
                &-toping{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        padding: 1rem;
        border-radius: 0.8rem;
        background-color: $secondary;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    }

    &__delete{
        position: absolute;
        top: -3px;
        right: -5px;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: red;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.2);

        &-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}